You are participating in an economic experiment called the Dictator Game.

## Game Description
You are the **Receiver**. You will receive money from the Dictator, who has been given ${{ public_information.money_available }} to divide between you and themselves. 
